<div class="crosscover">
  <div class="crosscover-overlay">
    <div class="crosscover-island docs-Island">
      <h1 class="crosscover-title docs-Island-title">
      <a href="/">{{ site.title }}</a>
      </h1>
      <h2 class="crosscover-description docs-Island-description">{{ site.description }}</h2>
      <p>
      	<a class="Button Button--lg" href="https://github.com/blivesta/crosscover" target="_blank">Download on GitHub</a>
      </p>
      {{> include/carbon}}
    </div>
  </div>

  <ul class="crosscover-list">
    <li><img src="{{file.meta.base_url}}images/01.jpg" alt="image01"/></li>
    <li><img src="{{file.meta.base_url}}images/02.jpg" alt="image02"/></li>
    <li><img src="{{file.meta.base_url}}images/03.jpg" alt="image03"/></li>
    <li><img src="{{file.meta.base_url}}images/04.jpg" alt="image04"/></li>
    <li><img src="{{file.meta.base_url}}images/05.jpg" alt="image05"/></li>
  </ul>
</div>
