<h1>Demonstration</h1>

<div class="Grid t-gutterReset">
  <div class="Grid-col t-widthHalf t-sm-width1of3">
    <h2 class="t-mtSm">Fade</h2>
    <ol class="List">
      <li><a href="{{file.meta.base_url}}fade">Fade</a></li>
      <li><a href="{{file.meta.base_url}}fade-down">FadeDown</a></li>
      <li><a href="{{file.meta.base_url}}fade-down-big">FadeDownBig</a></li>
      <li><a href="{{file.meta.base_url}}fade-up">FadeUp</a></li>
      <li><a href="{{file.meta.base_url}}fade-up-big">FadeUpBig</a></li>
      <li><a href="{{file.meta.base_url}}fade-left">FadeLeft</a></li>
      <li><a href="{{file.meta.base_url}}fade-left-big">FadeLeftBig</a></li>
      <li><a href="{{file.meta.base_url}}fade-right">FadeRight</a></li>
      <li><a href="{{file.meta.base_url}}fade-right-big">FadeRightBig</a></li>
    </ol>
  </div>
  <!-- /.Grid-col -->


  <div class="Grid-col t-widthHalf t-sm-width1of3">
    <h2 class="t-mtSm">Zoom</h2>
    <ol class="List">
      <li><a href="{{file.meta.base_url}}zoom-up">ZoomUp</a></li>
      <li><a href="{{file.meta.base_url}}zoom-down">ZoomDown</a>
      </li>
      <li><a href="{{file.meta.base_url}}zoom-left">ZoomLeft</a></li>
      <li><a href="{{file.meta.base_url}}zoom-right">ZoomRight</a></li>
    </ol>

    <h2 class="t-mtSm">Flip</h2>
    <ol class="List">
      <li><a href="{{file.meta.base_url}}flip-x">flipX</a></li>
      <li><a href="{{file.meta.base_url}}flip-y">flipY</a></li>
    </ol>

  </div>
  <!-- /.Grid-col -->


  <div class="Grid-col t-widthHalf t-sm-width1of3">
    <h2 class="t-mtSm">Rotate</h2>
    <ol class="List">
      <li><a href="{{file.meta.base_url}}rotate">Rotate</a></li>
      <li><a href="{{file.meta.base_url}}rotate-up-left">RotateUpLeft</a></li>
      <li><a href="{{file.meta.base_url}}rotate-up-right">RotateUpRight</a></li>
      <li><a href="{{file.meta.base_url}}rotate-down-left">RotateDownLeft</a></li>
      <li><a href="{{file.meta.base_url}}rotate-down-right">RotateDownRight</a></li>
    </ol>

    <h2 class="t-mtSm">lightSpeed</h2>
    <ol class="List">
      <li><a href="{{file.meta.base_url}}lightspeed">lightSpeed</a></li>
    </ol>
  </div>
  <!-- /.Grid-col -->

</div>
