<footer class="docs-Footer" role="contentinfo">
  <div class="Container Container--slim t-gutter">

    <h1><a href="{{file.meta.base_url}}">{{ site.title }}</a></h1>
    <h4 class="t-bold">{{ site.description }}</h4>
    <p>Code licensed under the MIT.</p>

    <ul class="ListInline t-mbSm">
      <li>
        Created by <span class="icon-blivesta icon-sm icon-circle"></span>&nbsp;
        <a href="{{{ site.author_url }}}" target="_blank">{{ site.author }}</a>&nbsp;&amp;&nbsp;<a href="{{{ site.maintainer_url }}}" target="_blank">{{ site.maintainer }}</a>.
      </li>
      <li>
        Photo by <a href="http://www.skyseeker.net/" target="_blank">skyseeker</a>
      </li>
    </ul>

    {{> include/social-follow}}

    <h4 class="t-mtXl">Other projects</h4>
    <ul class="ListInline t-mbTn">
      <li><a href="http://git.blivesta.com/animsition" target="_black">Animsition</a></li>
      <li>·</li>
      <li><a href="http://git.blivesta.com/drawer" target="_black">Drawer</a></li>
      <li>·</li>
      <li><a href="http://github.com/sircus" target="_black">Sircus</a></li>
    </ul>

  </div>

</footer>
<!-- Google analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-50883754-1', 'blivesta.com');ga('require', 'displayfeatures');ga('send', 'pageview');
</script>
<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

{{#is file.meta.load_files "bundle"}}

<script src="{{file.meta.base_url}}js/{{pkg.name}}.js"></script>

{{else}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="{{file.meta.base_url}}js/crosscover.min.js"></script>
<script>
var Docs = (function() {
  function init() {
  	var randomIndex = Math.floor(Math.random() * 4) * 1;
    $(".crosscover").imagesLoaded( function() {
      $(".crosscover").crosscover({
	      startIndex: randomIndex,
        animateInClass:'{{file.meta.in_class}}',
        animateOutClass:'{{file.meta.out_class}}'
      });
    });
  }
  init();
})();
</script>

{{/is}}
