<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@blivesta" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="{{file.meta.base_url}}images/touch-icon.png" />

  {{#is file.meta.layout "home"}}
  <meta name="description" content="{{site.description}}">
  <title>{{site.title}}</title>
  {{else}}
  <meta name="description" content="{{ file.meta.description }}">
  <title>{{file.meta.demo}} - {{site.title}}</title>
  {{/is}}

  <!-- Icon -->
  <link rel="apple-touch-icon" href="{{file.meta.base_url}}images/touch-icon.png">
  <link rel="shortcut icon" href="//blivesta.com/ico/favicon.ico">

  <!-- Docs css -->
  <link rel="stylesheet" href="{{file.meta.base_url}}css/{{pkg.name}}.css">

  </head>
