<ul class="ListInline t-">
	<li>
	  <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{{site.author}}}&amp;repo={{{site.pkg_name}}}&amp;type=star&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
	</li>
	<li>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{site.name}} : {{site.description}}" data-url="{{site.url}}" data-related="{{site.twitter}}" data-size="" data-count="1" data-hashtags="{{site.tags}}">Tweet</a>
	</li>
</ul>
