{{> include/head}}

<body class="docs-Pages">

{{> include/crosscover}}


<section class="docs-Main Container Container--slim t-gutter">

	<h1 class="t-mbSm">
		<span class="t-capitalize">{{file.meta.in_class}}</span>
		<small class="t-normal">-</small>
		<span class="t-capitalize">{{file.meta.out_class}}</span>
	</h1>
	<h3>Crosscover Options</h3>

{{#markdown}}
``` js
$('.crosscover').crosscover({
  inClass:'{{file.meta.in_class}}',
  outClass:'{{file.meta.out_class}}'
});
```
{{/markdown}}
</section>

<section class="docs-Main Container Container--slim t-gutter">
	{{> include/demo-link}}
</section>

{{{block "content"}}}

{{> include/footer}}
</body>
</html>
