---
layout: home
base_url: "./"
load_files: "bundle"
---
{{#extend "home"}}
	{{#content "content"}}

		<div class="docs-Main Container Container--slim t-gutter">
<h1>Installation</h1>

<h2>Step 1: Link required files</h2>
<p>
  <a href="https://daneden.github.io/animate.css/" target="_blank">animate.css</a>&nbsp;
  <small>Create by <a href="//daneden.me">Daniel Eden</a>.</small>
</p>

{{#markdown}}
``` html
<!-- animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
<!-- crosscover.css -->
<link rel="stylesheet" href="./dist/css/crosscover.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<!-- crosscover.js -->
<script src="./dist/js/crosscover.min.js"></script>
```
{{/markdown}}


<h2>Step 2: HTML markup</h2>
{{#markdown}}
```html
<div class="crosscover">

  <div class="crosscover-overlay">
    <div class="crosscover-island">
      <h1 class="crosscover-title">...</h1>
      <h2 class="crosscover-description">...</h2>
    </div>
  </div>

  <ul class="crosscover-list">
    <li><img src="{{file.meta.base_url}}images/01.jpg" alt="image01"/></li>
    <li><img src="{{file.meta.base_url}}images/02.jpg" alt="image02"/></li>
    <li><img src="{{file.meta.base_url}}images/03.jpg" alt="image03"/></li>
    <li><img src="{{file.meta.base_url}}images/04.jpg" alt="image04"/></li>
    <li><img src="{{file.meta.base_url}}images/05.jpg" alt="image05"/></li>
  </ul>
</div>
```
{{/markdown}}

<h2>Step 3: Call the Crosscover</h2>
{{#markdown}}
```js
$(".crosscover").crosscover({
	animateInClass:'fade-in',
	animateOutClass:'fade-out',
	interval : 5000,
	startIndex : 0,
	autoPlay : true,
	controller : true,
	controllerClass  : 'crosscover-controller',
	prevClass : 'crosscover-prev',
	nextClass : 'crosscover-next',
	playerClass : 'crosscover-player',
	playerActiveClass : 'is-playing',
	playerInnerHtml : '<span class="crosscover-icon-player"></span>',
	prevInnerHtml : '<span class="crosscover-icon-prev"></span>',
	nextInnerHtml : '<span class="crosscover-icon-next"></span>'
});
```
{{/markdown}}
		</div>

		<div class="docs-Main Container Container--slim t-gutter">
			{{> include/demo-link}}
		</div>

	{{/content}}
{{/extend}}
